*{
    margin: 0;
    padding: 0;
}
:local(.banner){
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
:local(.video){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:local(.h2Banner){
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    mix-blend-mode: screen;
    margin: 0;
    font-weight: bold;
}